In [1]:
import pandas as pd
from datetime import datetime

In [2]:
def convert_timestamp(unix_timestamp):
    return datetime.utcfromtimestamp(int(unix_timestamp)).strftime('%Y-%m-%d')

In [3]:
df = pd.read_csv('Energy Usage.csv')

In [4]:
df

       timePeriod/start/__text readingQuality/__text  value/__text
0                   1662440400                ACTUAL          0.01
1                   1662442200                ACTUAL          0.10
2                   1662444000                ACTUAL          0.13
3                   1662445800                ACTUAL          0.15
4                   1662447600                ACTUAL          0.01
...                        ...                   ...           ...
21019               1700274600                ACTUAL          1.08
21020               1700276400                ACTUAL          2.68
21021               1700278200                ACTUAL          1.56
21022               1700280000                ACTUAL          0.78
21023               1700281800                ACTUAL          0.39

[21024 rows x 3 columns]

In [5]:
df['timePeriod/start/__text'] = df['timePeriod/start/__text'].apply(convert_timestamp)

In [6]:
df['datetime'] = df['timePeriod/start/__text']
df['energy_used'] = df['value/__text']

In [7]:
df.drop(df.columns[0:3], axis = 1, inplace = True)

In [8]:
df['datetime'] = pd.to_datetime(df['datetime']).dt.normalize()

In [9]:
daily_totals = df.groupby('datetime')['energy_used'].sum().reset_index()

In [10]:
daily_totals

      datetime  energy_used
0   2022-09-06         5.92
1   2022-09-07        19.29
2   2022-09-08         9.60
3   2022-09-09        13.39
4   2022-09-10        20.15
..         ...          ...
434 2023-11-14        15.66
435 2023-11-15        11.67
436 2023-11-16         8.71
437 2023-11-17        12.10
438 2023-11-18         9.45

[439 rows x 2 columns]

In [11]:
daily_totals.to_csv('energy_final.csv', index = False)